@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes rotate-180 {
  to{
    transform: rotate(-180deg);
  }
}

@keyframes width-0 {
  from{
   transform: scaleX(0)
  }
}

.rotate-180{
  animation: rotate-180 1s ease-out;
}

.from-width-0{
  animation: width-0 300ms ease-out ;
  transform-origin: left;
}

.dark-shadow:hover{
  -webkit-box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.59);
}

/* editor  */
@keyframes from0-1 {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.opacity-0-1{
  animation: from0-1 300ms ease-out;
}